<% layout('layouts/boilerplate.ejs') %>

  <div class="row container mx-auto mt-3">
    <h1 class="text-center">New Campground</h1>
    <div class="col-6 offset-3">
      <form action="/campgrounds" method="post" class="needs-validation" novalidate enctype="multipart/form-data">
        <div class="mb-3">
          <label class="form-lable" for="title">Title</label>
          <input class="form-control" type="text" id="title" name="campground[title]" required>
          <div class="invalid-feedback">
            Please fill the title field.
          </div>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="mb-3">
          <label class="form-lable" for="location">Location</label>
          <input class="form-control" type="text" id="location" name="campground[location]" required>
          <div class="invalid-feedback">
            Please fill the location field.
          </div>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="mb-3">
          <!-- <label class="form-lable" for="image">Image Url</label>
          <input class="form-control" type="text" id="image" name="campground[image]" required> -->

          <label for="formFileMultiple" class="form-label">Upload Images</label>
          <input class="form-control" name="image" type="file" id="formFileMultiple" multiple required>
          <div class="invalid-feedback">
            Please upload image.
          </div>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="mb-3">
          <label class="form-lable" for="price">Price</label>
          <div class="input-group">
            <span class="input-group-text">$</span>
            <input type="number" placeholder="0.00" class="form-control" id="price"
              aria-label="Amount (to the nearest dollar)" name="campground[price]" required>
            <div class="invalid-feedback">
              Please fill the price filed.
            </div>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label class="form-lable" for="description">Description</label>
          <textarea class="form-control" type="text" id="description" name="campground[description]"
            required></textarea>
          <div class="invalid-feedback">
            Please fill the description filed.
          </div>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="mb-3">
          <button class="btn btn-success" type="submit">Add Campground</button>
        </div>
      </form>
    </div>
  </div>